body {
  font-family: Roboto;
  min-height: 100vh;
}

button {
  letter-spacing: 4px;
}

html {
  letter-spacing: 1px;
  min-height: 100%;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

#after-photo {
  margin-top: 20px;
}

/*#after-photo > button {
  font-size: .6rem;
  line-height: 1.5;
}*/

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.camera {
  display: flex;
  flex-direction: column;
  grid-area: camera;
  margin-bottom: 20px;
  width: 640px;
}

.card {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.card-subtitle {
  align-items: center;
  display: flex;
}

.card-subtitle > img {
  font-size: 14px;
  margin-right: 20px;
}

.card-title {
  font-size: 20px;
}

.error-field {
  outline: 2px solid red;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  width: 40%;
}

.form-group {
  margin-bottom: 1rem;
}

#get-started {
  margin-top: 20px;
}

.hidden {
  display: none
}

.highlight {
  align-items: center;
  background-color: lime;
  display: flex;
  flex-direction: column-reverse;
  height: 100px;
  left: 29px;
  position: relative;
  opacity: 0.3;
  top: 13px;
  width: 100px;
}

.input-form {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  grid-area: input-form;
  padding-bottom: 5px;
}

#root {
  /*display: grid;
  grid-template-columns: auto auto auto 320px;
  grid-template-areas:
    "input-form input-form input-form camera"
    "songs songs songs songs"
    "save . . .";*/
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.save {
  display: flex;
  flex-direction: column-reverse;
  grid-area: save;
  justify-content: center;
  padding-top: 5px;
}

#save-button {
  width: 200px;
}

#search-field {
  margin-right: 20px;
  width: 40%
}

.search-row {
  display: flex;
}

.selected-card {
  outline: 2px solid blue;
}

.song-card {
  background-color: red;
  height: 300px;
  padding: 10px;
  width: 300px;
}

#song-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.songs {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  grid-area: songs;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

#success-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#take-picture {
  margin-top: 20px;
}

.text-danger {
  color: red;
}